# HW3: Statistical Inference

## Syed Nisar Hussian

### sh07216@st.habib.edu.pk

In [72]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [73]:
df = pd.read_csv("student-scores.csv")
df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          2000 non-null   int64
 1   first_name                  2000 non-null   object
 2   last_name                   2000 non-null   object
 3   email                       2000 non-null   object
 4   gender                      2000 non-null   object
 5   part_time_job               2000 non-null   bool
 6   absence_days                2000 non-null   int64
 7   extracurricular_activities  2000 non-null   bool
 8   weekly_self_study_hours     2000 non-null   int64
 9   career_aspiration           2000 non-null   object
 10  math_score                  2000 non-null   int64
 11  history_score               2000 non-null   int64
 12  physics_score               2000 non-null   int64
 13  chemistry_score             2000 non-null   int64
 14  biology_score               2000 non-null   int64
 15  english_score               2000 non-null   int64
 16  geography_score             2000 non-null   int64
dtypes: bool(2), int64(10), object(5)
memory usage: 238.4+ KB

### Hypothesis Testing

**1. If math_score of males is greater than females.**

H<sub>0</sub>: Math score of males is less than or equal to that of females  
H<sub>a</sub>: Math score of males is greater than that of females

In [75]:
male_math_scores = df[df['gender'] == 'male']['math_score']
display(male_math_scores)
female_math_scores = df[df['gender'] == 'female']['math_score']
display(female_math_scores)

stats.ttest_ind(male_math_scores, female_math_scores, alternative='greater')

0       73
4       84
6       99
7       95
8       94
        ..
1992    79
1993    92
1994    76
1995    83
1996    89
Name: math_score, Length: 998, dtype: int64

1       90
2       81
3       71
5       93
9       98
        ..
1987    97
1991    88
1997    97
1998    51
1999    82
Name: math_score, Length: 1002, dtype: int64

TtestResult(statistic=2.2371559026936256, pvalue=0.012693020299630226, df=1998.0)

**Conclusion:** Since p-value < 0.05, we reject the null hypothesis H<sub>0</sub> and conclude that the math score of males is greater than that of females.

**Interpretation:** This result suggests a potential gender gap in math performance, where male students outperform female students in math. This could be due to factors such as teaching methods, learning environments, or societal expectations that may influence the math performance of different genders.

**2. If math_score of Non Doctors is greater than Doctors.**

H<sub>0</sub>: Math scores of non-Doctors are lesser than or equal to that of Doctors.  
H<sub>a</sub>: Math scores of non-Doctors are greater than that of Doctors.

In [76]:
doctors_math_scores = df[df['career_aspiration'] == 'Doctor']['math_score']
display(doctors_math_scores)
non_doctors_math_scores = df[df['career_aspiration'] != 'Doctor']['math_score']
display(non_doctors_math_scores)

stats.ttest_ind(non_doctors_math_scores, doctors_math_scores, alternative='greater')

1        90
14       96
18       92
25       92
121      98
       ...
1956    100
1962     88
1963     86
1986     89
1993     92
Name: math_score, Length: 119, dtype: int64

0       73
2       81
3       71
4       84
5       93
        ..
1995    83
1996    89
1997    97
1998    51
1999    82
Name: math_score, Length: 1881, dtype: int64

TtestResult(statistic=-7.389083205876682, pvalue=0.999999999999892, df=1998.0)

**Conclusion:** Since p-value ≥ 0.05, we fail to reject the null hypothesis H<sub>0</sub> and conclude that math scores of non-Doctors are lesser than or equal to those of Doctors.

**Interpretation:** This result implies that career aspirations (specifically whether a student aspires to be a doctor or not) do not have a significant impact on math performance. It suggests that math ability is not strongly linked to career goals in this sample, which might reflect a broader trend of students with varying career aspirations performing similarly in core subjects like math.

**3. If weekly_self_study_hours of males are greater than females.**

H<sub>0</sub>: Weekly self study hours of males are lesser than or equal to females  
H<sub>a</sub>: Weekly self study hours of males are greater than females

In [77]:
male_study_hours = df[df['gender'] == 'male']['weekly_self_study_hours']
display(male_study_hours)
female_study_hours = df[df['gender'] == 'female']['weekly_self_study_hours']
display(female_study_hours)

stats.ttest_ind(male_study_hours, female_study_hours, alternative='greater')

0       27
4       10
6       23
7       34
8       25
        ..
1992    12
1993    46
1994    19
1995    30
1996    20
Name: weekly_self_study_hours, Length: 998, dtype: int64

1       47
2       13
3        3
5       26
9       18
        ..
1987     8
1991    27
1997    14
1998     5
1999    27
Name: weekly_self_study_hours, Length: 1002, dtype: int64

TtestResult(statistic=3.4567831650474443, pvalue=0.00027905018418441824, df=1998.0)

**Conclusion:** Since p-value < 0.05, we reject the null hypothesis H<sub>0</sub>, and conclude that weekly self study hours of males are greater than that of females.

**Interpretation:** This result points to a difference in study habits between male and female students, where males might allocate more time to independent study. This could reflect differences in time management, study priorities, or other external factors such as work or family commitments.

**4. If math_score of no part_time_job male students are greater than part_time_job male
students.**

H<sub>0</sub>: Math scores of male students without part-time jobs are lesser than or equal to the math score of male students with part-time jobs.  
H<sub>a</sub>: Math scores of male students without part-time jobs are greater than the math score of male students with part-time jobs.

In [78]:
male_students = df[df['gender'] == 'male']

no_job_math_scores = male_students[male_students['part_time_job'] == False]['math_score']
display(no_job_math_scores)
job_math_scores = male_students[male_students['part_time_job'] == True]['math_score']
display(job_math_scores)

stats.ttest_ind(no_job_math_scores, job_math_scores, alternative='greater')

0       73
4       84
6       99
8       94
11      80
        ..
1992    79
1993    92
1994    76
1995    83
1996    89
Name: math_score, Length: 849, dtype: int64

7        95
20      100
41       65
44       54
45       88
       ...
1925     62
1940     99
1958     88
1966     82
1984     79
Name: math_score, Length: 149, dtype: int64

TtestResult(statistic=5.8026672393780085, pvalue=4.382023975012475e-09, df=996.0)

**Conclusion:** Since p-value < 0.05, we reject the null hypothesis H<sub>0</sub>, and conclude that math scores of male students without part-time jobs are higher than those with part-time jobs.

**Interpretation:** This finding suggests that holding a part-time job might negatively impact the academic performance of male students, particularly in math. Part-time jobs might limit the amount of time and energy available for studying, which can lead to lower academic outcomes.

**5. If the average of history_score is less than geography_score.**

H<sub>0</sub>: Average history score is greater than or equal to the average geography score.  
H<sub>a</sub>: Average history score is lesser than the average geography score.

In [79]:
display(df['history_score'])
display(df['geography_score'])

stats.ttest_ind(df["history_score"], df["geography_score"], alternative='less')

0       81
1       86
2       97
3       74
4       77
        ..
1995    77
1996    65
1997    85
1998    96
1999    99
Name: history_score, Length: 2000, dtype: int64

0        87
1        90
2        94
3        86
4        76
       ...
1995     82
1996     73
1997     78
1998     75
1999    100
Name: geography_score, Length: 2000, dtype: int64

TtestResult(statistic=-1.4412586066465385, pvalue=0.07479497633658547, df=3998.0)

**Conclusion:** Since p-value ≥ 0.05, we fail to reject the null hypothesis H<sub>0</sub>, and conclude that the average history score is greater than or equal to the average geography score.

**Interpretation:** The lack of a significant difference between history and geography scores suggests that students perform similarly in both subjects. This might reflect that the skills or knowledge required for success in history and geography are similar, or that students allocate comparable efforts to both subjects.

**6. If the average of math_score is greater than biology_score.**

H<sub>0</sub>: Average math score is lesser than or equal to the average biology score.  
H<sub>a</sub>: Average math score is greater than the average biology score.

In [80]:
display(df['math_score'])
display(df['biology_score'])

stats.ttest_ind(df["math_score"], df["biology_score"], alternative='greater')

0       73
1       90
2       81
3       71
4       84
        ..
1995    83
1996    89
1997    97
1998    51
1999    82
Name: math_score, Length: 2000, dtype: int64

0       63
1       90
2       65
3       89
4       80
        ..
1995    75
1996    87
1997    68
1998    95
1999    83
Name: biology_score, Length: 2000, dtype: int64

TtestResult(statistic=9.082620143235266, pvalue=8.146293509285797e-20, df=3998.0)

**Conclusion:** Since p-value <> 0.05, we reject the null hypothesis H<sub>0</sub>, and conclude that the average math score is greater than the average biology score.

**Interpretation:** This result indicates that math scores are higher than biology scores on average. This could reflect a stronger emphasis on math in the curriculum, better math instruction, or it could signal that students find biology more challenging.

**7. If weekly_self_study_hours of extracurricular_activities is less than no
extracurricular_activities.**

H<sub>0</sub>: The average weekly self-study hours of students who participate in extracurricular activities is greater than or equal to those who don't.  
H<sub>a</sub>: The average weekly self-study hours of students who participate in extracurricular activities is lesser than those who don't.

In [81]:
extra_curricular_study_hours = df[df['extracurricular_activities'] == True]['weekly_self_study_hours']
display(extra_curricular_study_hours)
non_extra_curricular_study_hours = df[df['extracurricular_activities'] == False]['weekly_self_study_hours']
display(non_extra_curricular_study_hours)

stats.ttest_ind(extra_curricular_study_hours, non_extra_curricular_study_hours, alternative='less')

2       13
6       23
7       34
9       18
16      30
        ..
1973    26
1974    11
1977     5
1992    12
1998     5
Name: weekly_self_study_hours, Length: 408, dtype: int64

0       27
1       47
3        3
4       10
5       26
        ..
1994    19
1995    30
1996    20
1997    14
1999    27
Name: weekly_self_study_hours, Length: 1592, dtype: int64

TtestResult(statistic=-2.3506159912870577, pvalue=0.009419553161020004, df=1998.0)

**Conclusion:** Since p-value < 0.05, we reject the null hypothesis H<sub>0</sub>, and conclude that the average weekly self-study hours of students who participate in extracurricular activities is lesser than those who don't participate.

**Interpretation:** This suggests that involvement in extracurricular activities might reduce the amount of time students spend on independent study. While extracurricular activities provide valuable skills and experiences, this result could indicate that balancing academics and extracurriculars can be challenging.

**8. If absence_days of females are less than males.**

H<sub>0</sub>: Absences of female students are greater than or equal to the absences of male students.  
H<sub>a</sub>: Absences of female students are lesser than the absences of male students.

In [82]:
female_absence_days = df[df['gender'] == 'female']['absence_days']
display(female_absence_days)
male_absence_days = df[df['gender'] == 'male']['absence_days']
display(male_absence_days)

stats.ttest_ind(female_absence_days, male_absence_days, alternative='less')

1        2
2        9
3        5
5        2
9        3
        ..
1987     6
1991     4
1997     5
1998    10
1999     5
Name: absence_days, Length: 1002, dtype: int64

0       3
4       5
6       3
7       2
8       6
       ..
1992    2
1993    3
1994    1
1995    2
1996    2
Name: absence_days, Length: 998, dtype: int64

TtestResult(statistic=1.3128102331149203, pvalue=0.9053011661354035, df=1998.0)

**Conclusion:** Since p-value ≥ 0.05, we fail to reject the null hypothesis H<sub>0</sub>, and conclude that the absences of female students are greater than or equal to the absences of male students.

**Interpretation:** This finding suggests that both male and female students have similar attendance records, indicating no gender-based differences in absenteeism. This could be interpreted as both genders having similar access to education and facing similar challenges that might affect attendance.

**9. Is there any Association between gender and career_aspiration.**

H<sub>0</sub>: Gender and Career Aspiration are independent and not related to each other.  
H<sub>a</sub>: Gender and Career Aspiration are dependent and related to each other.

In [83]:
chisqt = pd.crosstab(df['gender'], df['career_aspiration'], margins=True)
display(chisqt)

stats.chi2_contingency(chisqt)

career_aspiration,Accountant,Artist,Banker,Business Owner,Construction Engineer,Designer,Doctor,Game Developer,Government Officer,Lawyer,Real Estate Developer,Scientist,Software Engineer,Stock Investor,Teacher,Unknown,Writer,All
gender,,,,,,,,,,,,,,,,,,
female,64,42,103,164,0,32,53,31,31,66,45,19,141,25,59,109,18,1002
male,62,25,66,145,68,24,66,32,30,72,38,20,174,48,0,114,14,998
All,126,67,169,309,68,56,119,63,61,138,83,39,315,73,59,223,32,2000

Chi2ContingencyResult(statistic=155.39466648000175, pvalue=1.9087221746002932e-17, dof=34, expected_freq=array([[  63.126,   33.567,   84.669,  154.809,   34.068,   28.056,
          59.619,   31.563,   30.561,   69.138,   41.583,   19.539,
         157.815,   36.573,   29.559,  111.723,   16.032, 1002.   ],
       [  62.874,   33.433,   84.331,  154.191,   33.932,   27.944,
          59.381,   31.437,   30.439,   68.862,   41.417,   19.461,
         157.185,   36.427,   29.441,  111.277,   15.968,  998.   ],
       [ 126.   ,   67.   ,  169.   ,  309.   ,   68.   ,   56.   ,
         119.   ,   63.   ,   61.   ,  138.   ,   83.   ,   39.   ,
         315.   ,   73.   ,   59.   ,  223.   ,   32.   , 2000.   ]]))

**Conclusion:** Since p-value < 0.05, we reject the null hypothesis H<sub>0</sub>, and conclude that gender and career aspiration are dependent and related to each other.

**Interpretation:** This result suggests that career aspirations are influenced by gender, which could reflect societal or cultural influences on career choices. For example, certain careers (like doctors or engineers) might attract more males, while others (such as teaching or nursing) might have more females. This insight can help educators and counselors address gender stereotypes in career guidance and encourage students to explore careers regardless of gender norms.

**10. Is there any Association between gender and part_time_job.**

H<sub>0</sub>: Gender and Part-time Job are independent and not related to each other.  
H<sub>a</sub>: Gender and Part-time Job are dependent and related to each other.

In [84]:
chisqt = pd.crosstab(df['gender'], df['part_time_job'], margins=True)
display(chisqt)

stats.chi2_contingency(chisqt)

part_time_job  False  True   All
gender
female           835   167  1002
male             849   149   998
All             1684   316  2000

Chi2ContingencyResult(statistic=1.1337105392319442, pvalue=0.8888874344046543, dof=4, expected_freq=array([[ 843.684,  158.316, 1002.   ],
       [ 840.316,  157.684,  998.   ],
       [1684.   ,  316.   , 2000.   ]]))

**Conclusion:** Since p-value ≥ 0.05, we fail to reject the null hypothesis H<sub>0</sub>, and conclude that gender and part-time job are independent and not related to each other.

**Interpretation:** This result suggests that there is no significant association between gender and whether a student has a part-time job. Both male and female students are equally likely to hold part-time jobs, which might indicate that the need or desire to work part-time is not influenced by gender in this sample.